body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 90vh;
  }
  #menu .container #menu-row #menu-column #menu-box {
    margin-top: 120px;
    width: 800px;
    height: 620px;
    border: 1px solid #575697;
  }
  #menu .container #menu-row #menu-column #menu-box #menu-form {
    padding: 20px;
    width: 1200px;
  }
  #menu .container #menu-row #menu-column #menu-box #menu-form #register-link {
    margin-top: -85px;
  }
  .text-info {
      
    color: #e6e6e6!important;
}