<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div id="cliente">
        <div class="container">
            <div id="cliente-row" class="row justify-content-center align-items-center">
                <div id="cliente-column" class="col-md-6">
                    <div id="cliente-box" class="col-md-12 bg-dark">
                        <form id="cliente-form" class="form" action="" method="post">
                            <h3 i18n class="text-center text-info">Animal de estimação</h3>
                            <div class="form-group">
                                <label for="nome" class="text-info"><span i18n>Nome</span></label><br>
                                <input type="text" name="nome" [(ngModel)]="animalEstimacao.nome" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="raca" class="text-info"><span i18n>Raca</span></label><br>
                                <input type="text" name="raca" [(ngModel)]="animalEstimacao.raca" class="form-control">
                            </div>  
                            <div class="form-group">
                                <label for="peso" class="text-info"><span i18n>Peso (Kg)</span></label><br>
                                <input type="number" name="peso" [(ngModel)]="animalEstimacao.peso" class="form-control">
                            </div>                            
                            <div class="form-group">
                                <label for="data" class="text-info"><span i18n>Data Nascimento</span></label><br>
                                <input type="date" name="data" [(ngModel)]="animalEstimacao.dataNascimento" class="form-control">
                            </div>
                            <div class="form-group">                            
                                <button type="button" class="btn btn-info btn-md" (click)="cadastrar()"><span i18n>Cadastrar</span></button>                                                                                       
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
